body{
    margin: 0;
    padding: 0;

}
.containerMain{
   
    width: 100%;
    background-image: url(rodion-kutsaev-IJ25m7fXqtk-unsplash.jpg);
    background-size:cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing:border-box;
    position: relative;
    background-repeat: no-repeat;
 
}
.navigation{
    width: 100%;
    height: 15vh;
    margin: auto ;
    display: flex;
    align-items: center;

}
.logo{
    width: 120px;
    cursor: pointer;
}
nav{
    flex: 1;
    padding-left: 100px;
    margin-top: 170px;
    margin-left: 35%;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 10px;
}
nav ul li a{
    text-decoration: none;
     color:rgb(2, 36, 19);
     font-weight: bolder;

     background: linear-gradient(45deg, #e1f40e,#28d40a);
     width: 80px;
     text-align: center;

     display: inline-block;
     background: linear-gradient(45deg, #e1f40e,#b9ff77);
     border-radius: 10px;
     padding: 10px;
     box-sizing:content-box;
     text-decoration: none;
     color: #232d60;
     box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
}
.content h1{
    font-size: 40px;
    font-weight:bold;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #232d60;
}
.content p{
    font-size: 15px;
    color: #6a7199;
}
.content{

    margin-top: 3%;
    

}
.content .btn{
    display: inline-block;
    background: linear-gradient(45deg, #e1f40e,#2f4985);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
}
.menstyles{
    
    
    
}
.sideright{
    
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 10px;
    
    padding: 20px;
    border-radius: 5px;
    font-size: 105%;
    float: right;
    width: 260px;
    clear: right;
}
